#main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 95vh;
  margin: 3px;
}

#USERS {
  border: 1px solid black;
  width: 45vw;
  height: auto;
  padding: 1rem;
  cursor: pointer;
}

#POSTS {
  width: 53vw;
  height: auto;
  padding: 1rem;
  overflow-y: auto;
}

td:hover {
  color: blue;
}

.post {
  margin: 10px;
  border: 1px solid black;
  padding: 1rem;
}
.span-teal {
  color: teal;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  #main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 95vh;
    margin: 3px;
  }
  #USERS,
  #POSTS {
    width: 100vw;
    height: auto;
  }
}
